@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


body {
  font-family: "Poppins", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input[type="checkbox"]:checked {
  accent-color: #fbc724;
}

.glow {
  box-shadow: 0 4px 8px 0 rgba(192, 192, 192, 0.2);
}

.homepage-image{
  width: 100%;
  height:auto;
  padding-bottom: 10px;
}

.nav-text-logo {
  width: 170px;
  height: auto;
  margin: 8px;
}

.selling-point {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;;
  justify-content: center;
}

body::-webkit-scrollbar-track {
  background-color: #212529;     
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(51, 51, 51);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}
body::-webkit-scrollbar {
  background-color: #212529;
  display: none;;
  
}

.gap-gutter {
  row-gap: 20px;
}

/* WIDGETS */
.expense-budget {
  height: fit-content !important;
}

.budget-progress-chart {
  height: auto;
  width: 200px;
}

.category-dropdown{
  max-height: 150px;
}

@media (min-width: 992px) {
  .max-content{
  display: inline-block;
  width: fit-content;
  margin: 0 0 0 auto;
  }
  .donut-chart{
    max-width: 350px;
    height: auto;
    }    
}

@media (max-width: 575.98px) {
  .max-content{
  margin-right: 5px;
  margin-left: 5px;
  }
  .widget-margin-small {
    margin-right: 5px!important;
    margin-left: 5px!important; 
    
  } 
}

@media (max-width: 991.8px){
  .donut-chart{
    max-width: 400px;
    height: auto;
    margin: auto;
    }
}

.dash-transaction-table {
  height: 250px !important;
  overflow-y: auto;
}::-webkit-scrollbar{
  background-color: transparent;;
}

.dash-transaction-table::-webkit-scrollbar-thumb{
  max-height: 30px !important;
  background-color: rgba(211, 211, 211, 0.246);
  border-radius: 40px;
}

.dash-transaction-td {
  border-style : hidden!important;
  cursor: pointer;
}

.transparent tbody td{
  background-color: transparent!important;
}

.goals{
  list-style: none;
  
}

.goals:hover{
  cursor: pointer;
  background-color: #323539;
}

.pointer-cursor {
  cursor: pointer;
  
}
.pointer-cursor label {
  cursor: pointer;
}

/* Transactions Page */

.transaction-table {
  height: 300px !important;
  overflow-y: auto;
}::-webkit-scrollbar{
  background-color: transparent;;
}
.select-input {
  border-color:#212529;
  background-color:#fbc724;
}

.transaction-donut-chart {
  height: 198px;
}

.frequent-purchases{
  max-height: 198px;
  overflow-y: auto;
}